*{margin:0;padding:0;}

#view-page{width: 100%;position: absolute;top: 0px;left:0px;bottom:0;background: #f3eff0;background: #eee;}
.tex{width: 100%;height: 300px;}
textarea{width: 80%;height: 200px;border: 1px solid #eee;text-align: center;margin:10px 25px;}
textarea:focus{outline: none;}
