* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }

.clear{clear: both;}



img {
    border: 0;
    width: 200px;
    height: 200px; 
}

li {
    list-style: none; }

input, textarea {
    border: none;
    background: none;
    appearance: none; }

input, textarea, select {
    border: 0;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }

button, input[type="submit"] {
    border: none;
    background: none;
    appearance: none;
    outline: none; }

a {
    touch-callout: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent; }

i, em {
    font-style: normal; }

textarea {
    resize: none; }

button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner {
    border: 0;
    padding: 0; }

/*作用不很多*/
/*按钮的字体颜色*/
/*普通字体颜色*/
/*变亮的字体颜色*/
/*金额的颜色*/
.page, .header, .sub-header, .content, .wrapper, .scroller, .footer, #loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

/*html {font-size: 15.625vw}*/
html, body {
    height: 100%;
    overflow: hidden;
    font-size: 12px; }

.page {
    height: 100%;
    overflow: hidden;
    background-color: #f3f4f6; }

/*头部*/
.header {
    height: 43px;
    line-height: 43px;
    background-color: #b11f1f;
    text-align: center;
    color: #fff;
    font-size: 18px; }

.header-list {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }

.header-btn {
    width: 60px; }

.header-tit {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: .1px; }

/*二级头部*/
.sub-header {
    top: 43px;
    height: 30px;
    line-height: 30px;
    background-color: #9a9fa5; }
.sub-header ul {
    height: 100%;
    white-space: nowrap; }
.sub-header li {
    display: inline-block;
    color: #fff;
    padding: 0 10px; }

/*内容*/
.content {
    overflow-y: scroll;
    top: 43px;
    bottom: 0; }

.has-sub-header {
    top: 73px; }

.has-footer {
    bottom: 48px; }

/*iscroll*/
.scroll-wrap {
    height: 100%;
    overflow: hidden; position: relative }

.scroller {
    background-color: #f3f4f6; position: absolute; left: 0;
    top:0; width: 100% }

.down-text {
    line-height: 50px;
    text-align: center; }

/*底部*/
.footer {
    top: auto;
    bottom: 0;
    height: 48px;
    line-height: 48px;
    background-color: #484850; }
.footer .footer-list {
	position: relative;
    height: 100%; }
.shuliang{position: absolute;width: 30px;height: 30px;border-radius: 30px;background: red;color: white;line-height: 30px;text-align: center;top: 0;left: 55%;z-index: 9999999;}
.footer .footer-list li {
    float: left;
    width: 20%;
    text-align: center; }
.footer .footer-list a { display:
        block;color: #fff; }
.footer .footer-list .active { color: red}




/*loading*/
#loading {
    bottom: 0;
    display: none;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1); }
#loading .loading-img {
    width: 62px;
    height: 62px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -31px 0 0 -31px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3); }
#loading .loading-img img {
    width: 32px;
    height: 32px; }
.pro-item {
    float: left;
    width: 140px;
    margin-left: 14px;
    margin-top:10px;
}
.pro-item .pic {
    width: 244px;
    box-shadow: 0 0 1px #000;
    display: block;
    padding: 6px; }
.pro-item img {
    width: 100px;
    height: 100px; }
.pro-item .pro-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    margin-top: 6px}
ul{
    overflow: hidden;
}


.add-cart{width: 100%;height: 50px;font-size: 30px;background: sienna;}#cart-page .sub-header { height: 40px; line-height: 40px; }
#cart-page .content { top: 83px;}


.cart-bar {  display: -webkit-box;  display: -webkit-flex;  display: flex;  padding: 0 10px;  -webkit-box-pack: justify;  -webkit-justify-content: space-between;  justify-content: space-between; }.cart-list {  padding: 0 10px; }.cart-item {  padding: 10px 5px;  height: 101px;  border-bottom: 1px solid #666666; }  .cart-item .pic {    float: left; }  .cart-item img {    width: 80px;    height: 80px; }  .cart-item .info {    float: left;    padding-left: 20px;    width: 180px;    line-height: 1.6; }  .cart-item .p-name {    font-size: 14px; height: 20px; overflow: hidden }  .cart-item .num-wrap {    height: 30px; }  .cart-item .minus, .cart-item input, .cart-item .plus {    border: 1px solid #ccc;    line-height: 28px;    text-align: center;    float: left;    width: 40px; }  .cart-item input {    margin: 0 -1px; }  .cart-item .delete {    float: right; }*{margin:0;padding:0;}

#content-page{width: 100%;position: absolute;top: 0px;left:0px;bottom:0;background: #f3eff0;}
.login-list { padding: 10px; font-size: 14px;}
.login-list li {padding: 5px;}
.text-bar { width: 95%; height: 40px; padding: 5px;border-radius: 5px;border:0;background: #fff;}

.go-forget { margin: 0 10px;}

.login-in,.go-reg { display: block;width: 95%; height: 50px; line-height: 40px; text-align: center; background: #ca0808; color:#Fff;border-radius: 8px;font-size: 22px;border:1px solid #000;}
.go-reg {background-color: #5c5c5c;}*{margin:0;padding:0;}

#content-page{width: 100%;position: absolute;top: 0px;left:0px;bottom:0;background: #f3eff0;}
.content-list{width: 100%;height: 300px;}
.list-in{width:100%;font-family: "\5FAE\8F6F\96C5\9ED1";}
.list-in input{border:0;}
.list-in .username{width:90%;height: 50px;margin-top:20px;text-align: center;border-radius: 5px;margin-left:15px;text-indent: -70px;font-size: 16px;background: #fff;}
.list-in .tx1{position: absolute;top: 35px;left: 22px;color: #000;font-size: 16px;}
.list-in .password{width:90%;height: 50px;margin-top:20px;text-align: center;border-radius: 5px;margin-left:15px;text-indent: -70px;font-size: 16px;background: #fff;}
.list-in .tx2{position: absolute;top: 105px;left: 22px;font-size: 16px;color: #000;}
.list-in .aginpassword{width:90%;height: 50px;margin-top:20px;text-align: center;border-radius: 5px;margin-left:15px;text-indent: -70px;font-size: 16px;background: #fff;}
.list-in .tx3{position: absolute;top: 175px;left: 22px;font-size: 16px;color: #000;}
input:focus{outline:none}
.list-bt{width: 100%;}
button:focus{outline:none}
#content-page .bt{width: 90%;height: 50px;background: #ca0808;border-radius: 8px;margin-left:8px;font-size: 22px;color: #fff;border:1px solid #000;}
.list-bt{width: 100%;}
*{margin:0;padding:0;}

.con{width: 100%;background: #f7f7f7;}
.con .top{width: 100%;padding:100px 20px;}
.con .top .iconfont{font-size: 86px;float: left;margin-top: -45px;}
.con .top .right{width: 50%;float: left;padding:0 20px;margin-top: -25px;}
.con .top .right p{width: 100%;font-size: 20px;color: #000;padding:5px 0;}
.con .top .right span{width: 50%;float: left;}
.con .top .right em{width: 50%;float: left;}
.red{color: red;}
.con .bottom{width: 100%;padding:120px 32px;overflow: hidden;}
.con .bottom .bottom-list{width: 80%;border:1px solid #dedede;border-radius: 10px;margin-top:-92px;background: #fff;}
.con .bottom .bottom-list li{width: 100%;border-bottom: 1px solid #dedede;list-style: none;font-size: 20px;padding:15px 0;}
.con .bottom .bottom-list li a{width: 30%;padding:10px;color: #000;}
.con .bottom .bottom-list li span{float: right;padding-right:10px;}
.con .bottom .bottom-list li:nth-of-type(4){border-bottom: none;}
*{margin:0;padding:0;}

.more .con-info{width: 100%;padding:120px 0px;overflow: hidden;}
.more .con-info .con-list{width: 90%;border:1px solid #dedede;border-radius: 10px;margin-top:-92px;background: #fff;margin-left:18px;}
.more .con-info .con-list li{width: 100%;border-bottom: 1px solid #dedede;list-style: none;font-size: 20px;padding:15px 0;}
.more .con-info .con-list li a{width: 30%;padding:10px;color: #000;}
.more .con-info .con-list li span{float: right;padding-right:10px;}
.more .con-info .con-list li:nth-of-type(4){border-bottom: none;}
*{margin:0;padding:0;}

#change-page{width: 100%;position: absolute;top: 0px;left:0px;bottom:0;background: #eee;}
#change-page .key{width: 100%;height: 300px;}
#change-page .key-list{width: 100%;height: 300px;}
#change-page .key-list .list-in{width:90%;font-family: "\5FAE\8F6F\96C5\9ED1";text-align: center;}
#change-page .key-list .list-in input{border:0;width:90%;height: 50px;margin-top:20px;border-radius: 5px;margin-left:10px;text-indent: 10px;font-size: 16px;background: #fff;}
input:focus{outline:none}
#change-page .list-bt{width: 100%;height: 50px;}
#change-page .list-bt .bt{width: 85%;height: 50px;color: #fff;background: #6eb92b;border-radius: 8px;font-size: 22px;color: #fff;border:1px solid #6eb92b;padding-top:-10px;text-align: center;margin-left:10px;}
#change-page .agin-key{background: black;}

*{margin:0;padding:0;}

#view-page{width: 100%;position: absolute;top: 0px;left:0px;bottom:0;background: #f3eff0;background: #eee;}
.tex{width: 100%;height: 300px;}
textarea{width: 80%;height: 200px;border: 1px solid #eee;text-align: center;margin:10px 25px;}
textarea:focus{outline: none;}
#index-page .swiper-container{
	width:100%;
	height:125px;
}
#index-page .swiper-self-pagination{
	position: absolute;
	top:90px;
	left:45%;
	z-index: 999;
	background-color: initial;
}
#index-page .swiper-pagination-bullet{
	margin-left:3px;
}
#index-page .content{
	overflow: hidden;
}
#index-page .swiper-slide{
	text-align: center;
	line-height:100px;
	font-size: 20px;
}

.navList{
	background: #f3f3f3;
	padding-bottom:10px;
}
.nav-list{
	display:flex;
	justify-content: space-around;     
	flex-wrap: wrap;
}
.nav-list li{
	width:20%;
	box-sizing: border-box; 
	padding: 8px;
}
.nav-list li a{
	display: block;
    text-align: center;
    line-height: 20px;
    color: #000;
   }
.nav-list li i{
    display: block;
    font-size: 24px;
    line-height: 24px;
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 30%;
    color: #fff;
}
.one{background: #f12954;}
.two{background: #9f34d8;}
.three{background:#f5357e;}
.four{background: #52d340;}
.five{background: #2db65f;}
.six{background: #00b1f0;}
.sev{background: #ec8101;}
.eig{background: #ffc127;}
.nin{background:#0fe1c2;}
.ten{background:#f97632;}

.navList p {
	width: 90%;
	margin-left: 20px;
	background: #fff;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
}
.navList p em{
	margin-left: 10px;
}
.navList p span{
	background: red;
	color: #fff;
	padding:2px 5px;
	font-weight: bold;
}
.navList p i{
	color:red;
}
.navList p b{
	font-weight: normal;
}
#product-show .swiper-container{
	width:100%;
	height:150px;
	border:none;
}
#product-show .swiper-container img{
	padding:5px 10px;
	height:80%;
	border-right: 1px solid #ccc;
}
#product-show .swiper-container p{
	height: 20px;
}
#product-show .swiper-container p span{
	color:red;
	font-size: 16px;
	font-weight: bold;
}
#product-show .swiper-pagination-bullet{
	margin-left:3px;
}
#product-show .swiper-slide{
	text-align: center;
	line-height:20px;
	font-size: 12px;
}
#product-show .showTitle{
	padding:10px;
	font-size: 16px;
}
#product-show .showTitle strong{
	color:red;
}
#product-show .showTitle span{
	padding:3px;
	border: 1px solid #ccc;
}
#product-show .showTitle em{
	float: right;
	color:red;
}


@font-face {
    font-family: 'iconfont';  /* project id 215829 */
    src: url('//at.alicdn.com/t/font_6g4lg2v2jglow29.eot');
    src: url('//at.alicdn.com/t/font_6g4lg2v2jglow29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_6g4lg2v2jglow29.woff') format('woff'),
    url('//at.alicdn.com/t/font_6g4lg2v2jglow29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_6g4lg2v2jglow29.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}.product-list img { height: 200px;}
.product-list{
	width: 100%;
	overflow: hidden;
	float: left;
}
.product-list li{
	padding:10px;
	width:50%;
	height:280px;
	text-align: center;
	float: left;
}
.product-list li p{
	overflow: hidden;
	color: #000;
	margin-top: 10px;
}
.product-list li p em{
	color:red;
	font-size: 20px;
	float: left;
}
.product-list li p del{
	float: right;
	margin-top: 5px;
}.detail-cont{position:absolute;left:0;top:50px;width:100%;bottom:0;
    line-height: 40px;}
.text-info{line-height:36px;font-size: 18px;padding: 0 10px;}
.text-info .p-price em{color: #ba0a53;font-weight: bold;}
.look-detail{position:absolute;left:0;bottom:50px;width:100%;border-top:1px solid #999;padding:2px 10px;}

.swiper-self-pagination{text-align: center;width: 60px;height:25px;border-radius: 35%;background:#ccc;margin: 15px auto;}
.swiper-self-pagination span{margin-top:8px;}
#detail-page .add-cart button{
    background-color: #e85520;
    line-height:30px;
    font-size:16px;
    color:#fff;
}
.swiper-container{
    width: 100%;
    height: 320px;
    border-bottom:1px solid #ccc;
}
img{width:100%;
    height:100%;}
.swiper-pagination-bullet{background-color:red;}
#detail-page .content{
	background: #f3eff0;
}
.proDetail{
	height:68px;
	width: 100%;
	background-color: #fff;
	position:absolute;bottom:66px;left:0;
	line-height: 28px;
	padding:20px;
	font-size: 16px;
}
.proDetail em{
	margin-left: 20px;
	float: left;
}
.proDetail span{
	float: right;
}
.addCart{
	height:66px;
	width: 100%;
	background-color: #a3a3a3;
	position:absolute;bottom:0;left:0;
}
.add-cart{height:50px;position:absolute;text-algin:center;bottom:0;left:0;width:60%;border-radius: 10px;
    background-color:#a21615;padding:10px;margin-left:75px;margin-bottom: 7px;color: #fff;font-size: 16px;}
/*# sourceMappingURL=bundle.css.map*/